body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #999999;
    font-size: 300;
    font-size: 16px;
}
.Buc1 {
    width: 140px;
    margin-top: -16px;
}

.Buc2 {
    margin: 8px 0px 0px;
}

.Buc3 {
    color: #0cb8b6;
    padding-top: 10px;
}

.Buc4 {
    visibility: visible;
}
